{% extends 'base/base.html' %}

{% block title %}Sell List{% endblock title %}


{% block head %}

<style>

    .menu-option {
        color: black !important;
        cursor: pointer;
        font-weight : 600;
        padding: 14px 16px 13px 19px;

    }
    
    .menu-option.active {
        color: white !important;
        padding: 14px 16px 13px 19px;
        background: #66bb6a;
        margin: 0px;
    }
    
    
</style>

{% endblock head %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            
            {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% comment %} <div style="justify-content: center;display: flex;align-items: center;">
    <a href="{% url 'add_godown' %}"> <button id="payment-button" style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
         <span id="payment-button-amount">Add godown  +</span>
     </button> </a>
   
</div><br> {% endcomment %}


<div class="row">
    <div class="col-xl-12">

        <h3 style="margin-bottom: 50px;
    margin-top: -32px; font-size: 19px;"> Customer : {{ customer_instance.name }}  Mobile : {{ customer_instance.mobile }} </h3>

    </div>

</div>



<div class="row">
    <div class="col-xl-12">

        <div style="margin-top: -27px;
    margin-bottom: 21px;">

            <a href="{% url 'add_record' customer_id %}"> <input type="button" value="Add Sell" class="btn btn-info"> </a>
            <a href="{% url 'add_payment' customer_id %}"> <input type="button" value="Add Payment" class="btn btn-info"> </a>

        </div>

        <div style="display: flex;
    gap: 28px;
    background: white;
    margin-bottom: 11px;
    ">

       
    <a href="{% url 'view_customer_with_id' customer_id %}" class="menu-option"> List Sell </a>
    <a href="{% url 'view_customer_payment' customer_id %}" class="menu-option active"> List Payments </a>
 


        </div>


        <div class="card">

            <div class="card-body">

               

                <div class="col-12" style="display: flex;">
                    <div >
                        <h4 class="box-title"> List Sell </h4>
                    </div>

                    <div style="text-align: right; display: flex;width: 84%;justify-content: right;">
                        <h4 class="box-title"> <span style="color: green; margin-right: 18px;"> Total Payment : {{ total_payment }} ₹ </span> <span style="color: red;"> Total Outstanding : {{ total_outstanding}} ₹ </span> </h4>
                    </div>
                </div>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Amount</th>
                                <th>Remark</th>
                                <th>date</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if payment_data %}
                            {% for i in payment_data %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ i.amount }}</td>
                                <td>{{ i.remark }}</td>
                                <td>{{ i.date }}</td>
                                
                                <td style="display: flex;
                                gap: 12px; float: right;">  
                                   
                                
                                   <a href="{% url 'update_payment' i.id %}"> <button id="payment-button"  style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">Update</span>
                                    </button>  </a>
                                   
                                
                                    <a href="{% url 'delete_payment' i.id %}"> <button id="payment-button" onclick="return confirm('Are you sure you want to delete this entry?')" style="background-color: red; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">Delete</span>
                                    </button>  </a>
                                   

                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Record Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}




{% block js %}

<script>



    function copyToClipboard(text) {
        // Create a temporary input element
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
    
        // Select the text
        input.select();
    
        // Copy to clipboard
        document.execCommand('copy');
    
        // Remove the temporary input element
        document.body.removeChild(input);
    
        // Notify the user
        alert('URL copied to clipboard!');
    }


</script>


{% endblock js %}
